
*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
 }
 
 body{
   background-color: #fff;
 }

 .container .head{
   position: absolute; 
   top: 0%;
   left: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0 50px;
   z-index: 1000000;
  }
  
  .container .head img{
    width: 13%;
  }
  
.container .head a{
 color: #fff;
 text-decoration: none;
 background-color: #e50914;
 padding: 8px 18px;
 border-radius: 5px;
 }


.banner .box .search{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.banner .box .search input{
font-size: 16px;
border: 1px solid #8c8c8c;
outline: none;
color: #000;
border-radius: 2px;
padding: 10px 10px 0 0;
min-width: 350px;
height: 60px;
align-items: center;
}

.banner .box .search a{
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-weight: 400;
letter-spacing: 0.1px;
border-radius: 2px;
background: #e50914;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
font-size: 1.425rem;
line-height: 60px;
min-width: 300px;
padding: 0 30px;
}
@media (max-width: 768px) and (max-width: 768px){

}
@media (max-width: 767px){
 body{
   background-color: #fff;
 }

 .container .head{ 
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 50%;
   padding: 0 25px;
   z-index: 250;
  }
  
  .container .head img{
    width: 5%;
  }
  
.container .head a{
 color: #fff;
 text-decoration: none;
 background-color: #e50914;
 padding: 8px 18px;
 border-radius: 5px;
 }


.banner .box .search{
flex-direction: center;
justify-content: center;
align-items: center;
}

.banner .box .search input{
font-size: 7px;
border: 1px solid #8c8c8c;
outline: none;
color: #000;
border-radius: 1px;
padding: 5px 5px 0 0;
min-width: 170px;
height: 30px;
align-items: center;
}

.banner .box .search a{
text-decoration: none;
text-transform: uppercase;
color: #fff;
font-weight: 200;
letter-spacing: 0.7px;
border-radius: 1px;
font-size: 800rem;
line-height: 30px;
min-width: 150px;
padding: 0 15px;
}
}